/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

.footer {
   background-color: #b94a48;
  height: 200px;
  color: #ffffff;
}

.header-inner {
    background-color: rgba(17,28,36,0.75);
    height: 50px;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;

}
.header-inner h4{
padding: 10px 5px 0 0;

}

body {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: 300;
}
.hd_big {
  height: 80px;
}
.container {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
}